.login-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .form-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    border-radius: 4px;
    padding: 8px 12px;
  }
  
  .btn-primary {
    background-color: #000088;
    color: white;
  }
  
  .lHead{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 85);
  }